/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(94deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,123,212,1) 45%);
}
